* {
    box-sizing: border-box;
}
body {
    background-color: black;
}
.white {
    background-color: rgb(218, 218, 218);
    width: 3rem;
    height: 3rem;
}
.black {
    background-color: rgb(68, 68, 68);
    width: 3rem;
    height: 3rem;
}

tr td {
    text-align: center;
    font-size: 2rem;
}