* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

.white {
  background-color: #dadada;
  width: 3rem;
  height: 3rem;
}

.black {
  background-color: #444444;
  width: 3rem;
  height: 3rem;
}

tr td {
  text-align: center;
  font-size: 2rem;
}
/*# sourceMappingURL=lenta.css.map */